.Fightarena {
  background-image: url(./icons/fightarea.png);
  background-size: cover;
  width: 200;
  height: 100vh;
  /* mix-blend-mode: multiply; */
}

.progress {
  width: 20vh;
  height: 0.9vh;
}
.playbtn {
  margin: 0 auto;
  max-width: 250px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgb(15, 13, 117);
  color: white;
  font-size: 14;
}

.playbtn:hover {
  background-color: red;
  color: white;
}

/* .pokemonimg {

} */

/* .animate__animated.animate__bounce {
  animation-name: bounce-2;
  animation-timing-function: ease;
} */

  /* .bounce-2 {
 
  } */
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px);}
  100% { transform: translateY(0); }
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

/* .Fightarena{

  background-image: url(./icons/fightarea.png);
  width: 200;
  height: 80vh;
  background-size: cover;
} */

.singlePokemonBack {
  margin-left: 25%;
  position: absolute;
  top: 62%;
  right: 45%;
  height: 300px;
  width: 350px;
  /* mix-blend-mode: multiply; */
  /* transform: rotateY(180deg); */
  animation-name: bounce-1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.randomPokemon {
  position: absolute;
  top: 42%;
  margin-left: 65%;
  right: 18%;
  height: 250px;
  width: 200px;
  /* mix-blend-mode: multiply; */
  transform: rotateY(20deg);
  animation-name: bounce-2;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
/* 


.rotated {
  transform: rotateY(20deg);
}
.rotatedback {
  transform: rotateY(20deg);
}

.pokemonimg {
  height: 600px;
  width: 300px;
  padding: 50px 50px;
}



.playbtn {
  margin: 0 auto;
  max-width: 250px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgb(22, 218, 103);
  color: white;
  font-size: 14;
}

.playbtn:hover {
  background-color: red;
  color: white;
}

#wins {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
