.pokeball {
    color: white;
    width: 2rem; 
    height: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 20%)
}

.text {
    font-size: 1.1rem;
    font-family: "Press Start 2P", cursive;
}
.nav {
    background-color: rgb(26, 42, 87);
    padding: 0rem 15rem 0rem 30rem;
}
