.body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* padding-left: 5rem; */
  /* padding-right: 5rem; */
  /* display: flex;
    flex-direction: column; */
  /* background-color: rgba(132, 138, 138, 0.876); */
  /* background-image:url("./icons/pokemon.jpeg");
  background-size: cover; */
}

.pokeball {
  border-radius: 5rem;
  float: right;
}
.cross {
  mix-blend-mode: multiply;
}

.pagination {
  background-color: white;
  color: black;
 display: flex;
 justify-content: center;
 padding: 2rem;
}

.cardmain {
  gap: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.cardpoke {
  border: 1px solid rgb(219, 219, 47) !important;
  background-color: rgb(236, 236, 201);
  border-radius: 1rem;
}

.cart {
  padding: 3rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.cardImage {
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  font-family: "Aboreto", cursive;
  font-size: large;
  font-weight: bold;
  /* mix-blend-mode: multiply; */
}

.button {
  border-radius: 1rem;
  background-color: #deb66c;
  /* mix-blend-mode: multiply; */
  /* cursor: pointer; */
}

.button:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  /* gap: 0.5rem; */
  flex-direction: row;
  justify-content: right;
}

.poke0,
.poke1 {
  padding: 0.5rem 0.5rem;
}
