* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.input_form {
  width: 65%;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  margin: 2.5em;
}

.search_button,
.search_input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search_input {
  padding: 0.5em;
  width: 85%;
  font-size: 1.5rem;
}

.search_button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}
